@import "./abstracts/variables.scss";

.root {
  display: flex;
  padding: 24px;
  height: 100%;
  align-items: center;
}

.row {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 24px;
}

.youtube {
  padding: 30px;
}
